<html>
<head>
    <title>Employee Management System</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><a href="/ems/add">Add Employee</a></p><br>
    <p><a href="/ems/employees">All Employees</a></p><br>
    <p><a href="/ems/employees/download/employees.xlsx">All Employees as Excel Sheet</a></p><br>
    <p><a href="/ems/employees/download/employees.pdf">All Employees as PDF</a></p><br>
    <p><a href="/ems/employeesList?page=1">Employees by Page</a></p><br>
</body>
<footer>
	<p><a href="/">Back to Home</a></p><br>
</footer>
</html>