<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Validated Registration</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text='${error}'/>
    <form action="/valreg" method="post" style="border-style: solid; border-color: black; border-width: 1px; padding: 10px; width: 295px">
    	<pre>Username         <input pattern="[a-zA-Z0-9-]{8,20}" required type="text" name="username" minlength="8" maxlength="20"></pre>
    	<pre>Password         <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[_$#.@]).{8,20}" required type="password" name="password"></pre>
    	<pre>Email            <input required type="email" name="email"></pre>
    	<pre>Contact          <input required pattern="[0-9]{10}" type="text" name="contact"></pre>
    	<pre>City             <select required name="city">
							  <option value="Portage">Portage, IN</option>
							  <option value="Schenectady">Schenectady, NY</option>
							  </select></pre>
    	<pre>ZipCode          <input required type="number" name="zipcode" minlength="5" maxlength="5"></pre>
    	<p><input type="submit" value="Register"/></p>
    </form>
</body>
<footer>
	<p><a href="/">Back to Home</a></p><br>
</footer>
</html>